#
# Copyright (C) 2024 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on init && property:ro.product.product.model=RMX3471
    mount overlay overlay /odm/etc/camera ro lowerdir=/vendor/etc/overlayfs/in/camera/:/odm/etc/camera
    mount overlay overlay /odm/etc/sensors ro lowerdir=/vendor/etc/overlayfs/in/sensors/:/odm/etc/sensors

on init && property:ro.product.product.model=RMX3472
    mount overlay overlay /odm/etc/camera ro lowerdir=/vendor/etc/overlayfs/in/camera/:/odm/etc/camera
    mount overlay overlay /odm/etc/sensors ro lowerdir=/vendor/etc/overlayfs/in/sensors/:/odm/etc/sensors

on init && property:ro.product.product.model=RMX3474
    mount overlay overlay /odm/etc/camera ro lowerdir=/vendor/etc/overlayfs/ru/camera/:/odm/etc/camera
    mount overlay overlay /odm/etc/sensors ro lowerdir=/vendor/etc/overlayfs/ru/sensors/:/odm/etc/sensors

on init && property:ro.product.product.model=RMX3478
    mount overlay overlay /odm/etc/camera ro lowerdir=/vendor/etc/overlayfs/cn/camera/:/odm/etc/camera
    mount overlay overlay /odm/etc/sensors ro lowerdir=/vendor/etc/overlayfs/cn/sensors/:/odm/etc/sensors
