#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on property:ro.boot.prjname=21707
    setprop ro.boot.hardware.revision "IN"

on property:ro.boot.prjname=21708
    setprop ro.boot.hardware.revision "EU"

on property:ro.boot.prjname=216EA
    setprop ro.boot.hardware.revision "RU"

on property:ro.boot.prjname=2162B
    setprop ro.boot.hardware.revision "CN"
